files:
/etc/pki/tls/certs/server.crt:
mode: "000400"
owner: root
group: root
content: |
-----BEGIN CERTIFICATE-----
069a1ebe-6831-4710-92af-8b87c65cf632
-----END CERTIFICATE-----

/etc/pki/tls/certs/server.key:
mode: "000400"
owner: root
group: root
content: |
-----BEGIN RSA PRIVATE KEY-----
arn:aws:acm:ap-southeast-1:440744245779:certificate/069a1ebe-6831-4710-92af-8b87c65cf632
-----END RSA PRIVATE KEY-----

container_commands:
01_reload_nginx:
command: "service nginx reload"